@import "variables";

.header__desc, .header__title, .header__version{
    padding: 10px 0;
    text-align: center;
}

.header__title{
    color: white;
    font-weight: 700;
    font-size: 48px;
    margin-top: 10vh;
}

.header__desc{
    color: $main-text-color;
    font-weight: 400;
}

.header__version{
    color: $secondary-text-color;
    text-transform: uppercase;
}