@import "mixins";

.header__top{
    @include flex-between;
    background-color: #27262A;
    padding: 20px 10px;
    position: relative;
    
}

.header__top .btn{
    font-size: 15px;
    font-weight: 700;
    padding: 10px 30px;
}

.header__top nav{
    position: absolute;
    background-color:#333333;
    width: 95%;
    left: 2.5%;
    transition: 0.3s;
    top: 100%;
    height: 0;
    overflow: hidden;
}

.header__top nav.show{
    height: 272px;
}



.header__top nav a{
    display: block;
    color: white;
    padding: 20px 30px;
    font-size: 20px;
    border-bottom: 1px solid#3B3B3B;
    position: relative;
}

.header__top nav a:active::before{
    content: "";
    position: absolute;
    left: 0;
    top: 15%;
    background-color: $main-text-color;
    width: 10px;
    height: 70%;
}

.header__top nav a:active{
    color: $main-text-color;
}

.header__top .active-border{
    width: 10px;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 0;
    background-color: $main-text-color;
    z-index: 2;
}

.menu-btn{
    cursor: pointer;
}

.menu-btn img{
    width: 42px;
    height: 42px;
}

.header__logo{
    @include flex-center;
}

.header__forkio-title{
    color: $main-text-color;
    padding: 5px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 24px;
}

@media (min-width: 481px){



.header__forkio-title{
    display: block;
}



.menu-btn{
    display: none;
}

.header__top{
    align-items: center;
    flex-wrap: wrap;
}


.header__top nav{
    
    @include flex-center;
    height: 100%;
    width: 100%;
    background-color: transparent;
    top: 30%;
    position: static;
    
}

.header__top nav a{
    border: none;
    color:$main-text-color;
    font-size: 16px;
    padding: 1px 15px;
    font-weight: 700;
}

.header__top nav a:hover{
    color: white;
}

.header__top nav a:active::before{
    display: none;
}

}

@media (min-width: 993px){
    .header__top{
        align-items: center;
        flex-wrap: nowrap;
        background: transparent;
        padding-right: 40px;
        padding-left: 40px;
    }


    .header__top nav{
        
        
        order: 2;
        justify-content: flex-end;
        margin-right: 3%;
    }

    .header__top .btn{
        white-space: nowrap;
        order: 3;
    }
}
