@import "variables2";

.you-get{
  padding: 80px 10px 0 10px;
  font-family: $font-family-pages;

  &__heading{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #8D81AC;
    margin-bottom: 50px;
  }
  &__span{
    display: block;
  }
}
.features{
  text-align: center;
  &__hed-name{
    margin: 20px 0 20px 0;
    color: #717078;
    font-size: 18px;
    font-weight: bold;
  }
  &__content{
    color: #848E97;
    line-height: 21px;
    margin-bottom: 50px;
  }
}
.footer-img{
  width: 100%;
  margin-left: 10px;
}

@media screen and (min-width: 481px){
  .you-get{
    &__span{
      display: inline;
    }
  }
  .features{
    display: grid;
    grid-template-columns: 27% 2fr;

    &__container-for-content{
      text-align: left;
    }
    &__img{
      margin-right: 20px;
    }
    &__hed-name{
      margin: 0 0 10px 0;
    }
  }
}

@media screen and (min-width: 993px){
  .you-get {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(0,1fr);
    background-color: #F4F4F4;
    background-clip: border-box;

    &__heading{
      margin: 0;
    }
  }
    .container-for-features { grid-area: 1 / 1 / 4 / 2; }
    .ou-get__heading { grid-area: 1 / 2 / 2 / 3; }
    .footer-img { grid-area: 2 / 2 / 4 / 3; }
  }
