.cards{
  display: flex;
  flex-wrap: wrap;
}
.cardsContainer{
  width: 100%;
}
.wrapper-cards{
  border-radius: 5px;
  margin: 50px;
  text-decoration: none;
  color: #000;
  background: #eaffb9eb;
  display: block;
  height: 25em;
  width: 22em;
  padding: 1em;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
}
.text-in-cards{
  font-size: 20px;
  color: #313131;
  line-height: 40px;
  list-style-type: none;
}
.closeBtn {
  margin-left: 15px;
  font-weight: bold;
  position: relative;
  left: 87%;
  top: -6px;
  color: #808080;
  font-size: 26px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closeBtn:hover {
  color: black;
}