.cards{
  display: flex;
  flex-wrap: wrap;
}
.cardsContainer{
  width: 100%;
}
.wrapper-cards{
  margin: 50px;
  text-decoration: none;
  color: #000;
  background: #eaffb9;
  display: block;
  height: 16em;
  width: 14em;
  padding: 1em;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
  transition: 0.3s;
}
.text-in-cards{
  line-height: 18px;
  text-align: center;
  list-style-type: none;
}
.text-in-cards :first-child{
  margin-top: 50px;
}
.closeBtn {
  margin-left: 15px;
  font-weight: bold;
  position: relative;
  left: 87%;
  top: -6px;
  color: #808080;
  font-size: 26px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closeBtn:hover {
  color: black;
}