.everything-is-ready{
   background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  ),url(../images/SectionsBackground/section-2.jpg);
    background-size: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.everything-is-ready span{
    margin: 10px 0;
}

.everything-is-ready .big-text{
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bolder;
}

.everything-is-ready .little-text{
    font-size: small;
    color: white;
    margin-bottom: 50px;
}

.everything-is-ready .button{
    color:white;
    text-transform: uppercase;
}

